*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #0A1B26;
    --bg: #A4B5BF;
    --piff: #A66249;
    --wakeup: #73071B;
    --harmony: #224459;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'Audiowide', sans-serif;
    line-height: 1.5;
}

main {
    flex: 1;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
}

#main-header {
    text-align: center;
    background-color: var(--piff);
    padding-top: 2rem;
}

#main-header h1 {
    font-size: 60px;
    background-color: var(--piff);
}

footer {
    font-weight: bold;
    font-size: 90%;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--text);
    color: var(--bg);
}

h3,
.formInput,
.convertBtns,
.results {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.card {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: solid 2px var(--harmony);
}

input {
    padding: 0.2rem;
    font-family: inherit;
    text-align: center;
    border: solid 2px var(--harmony);
    border-radius: 5px;
    width: 50%;
}

.convertBtns {

    gap: 1rem;
}

.convertBtns button {
    padding: 0.5rem;
    background-color: var(--harmony);
    color: white;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.convertBtns button:hover {
    background-color: var(--wakeup);
}

.results {
    font-size: larger;
    color: var(--wakeup);
}